
.hidden {display: none;}

.box {
	text-align: center;
	width:50px;
	height: 50px;
	background-color: red;
	margin: 10px;
	padding: 10px;
	border: 3px solid black;
	color: white;

	transition: all .5s;
}

.box:hover {
	-moz-transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	-ms-transform: rotate(15deg);

	transform: rotate(15deg);
	border-radius: 20px;
	background-color: blue;
	color: black;
}

/*CSS BUTON*/

main{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 20px 0 0 20px;
}

.button {
	padding: 10px;
	text-align: center;
	text-decoration: none;
	color: white;
	cursor: pointer;
	border-radius: 5px;
/*Shadow box*/
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

}

.blue {
	background: #6db3f2;
	background: -moz-linear-gradient(top,  #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
}

.button:active {
	position: relative;
	top: 5px;
}

/*nav bar */

main {
	margin: 0 auto; 
	width: 900px;
}

#main-nav {
	margin: 0;
	padding: 0;
	font-size: "Lucida Sans Unicode", "Lucide Grande", sans-serif;
	height: 60px;

	background: rgba(99, 171, 226);
}

#main-nav ul{
	list-style-type: none;
}

#main-nav ul li{
	float: left;
}

#main-nav ul li a{
	display: block;
	color: white;
	font-size: 1em;
	text-decoration: none;
	margin: 10px 0 30px 0;
	padding: 10px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	border-radius: 10px;
	cursor: pointer;

	-webkit- transition: all 0.75s ease;
	-moz- transition: all 0.75s ease;
	-ms- transition: all 0.75s ease;
	-o- transition: all 0.75s ease;
	transition: all 0.75s ease;
}

a:hover{
	background-color: lightblue;
	border-radius: 5px;
	color: black;
}










